body,
div,
ul,
a,
li,
img,
span {
  margin: 0;
  padding: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  height: 0;
  content: "";
  clear: both;
}
body div#wrapper {
  width: 960px;
  margin: 15px;
}
body div#wrapper div {
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-size: 16px;
}
body div#wrapper div div.holder {
  padding-bottom: 4px;
  float: left;
  border: 10px solid #cccccc;
  border-radius: 5px;
  border-right: 5px solid #cccccc;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #ccc;
}
body div#wrapper div div.holder img {
  display: block;
  width: 550px;
  height: 415px;
  position: relative;
  border-radius: 5px;
}
body div#wrapper div div.playlist ul {
  padding: 10px 5px;
  padding-left: 0px;
  float: left;
  position: relative;
  zoom: 1;
  border: 5px solid #cccccc;
  background-color: #cccccc;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-bottom: 15px;
}
body div#wrapper div div.playlist ul:after {
  display: block;
  height: 0;
  content: "";
  clear: both;
}
body div#wrapper div div.playlist ul li {
  margin-bottom: 5px;
  list-style-type: none;
  border-bottom: 1px solid black;
}
body div#wrapper div div.playlist ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
body div#wrapper div div.playlist ul li a:hover {
  text-decoration: underline;
}
body div#wrapper div div.playlist ul li img {
  display: block;
  border-radius: 10px;
  margin: 0 auto;
}
body div#wrapper div div.playlist ul li span {
  padding: 0 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  display: block;
}
